<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.ConfigQuestionFirstKindMapper">
<select id="selectConfigQuestionFirstKind">
	select * from config_question_first_kind where 1=1
	<if test='minPage!=null'>
		and qfk_id limit #{size}*(#{page}-1),#{size}
	</if>
</select>
</mapper>