<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.ConfigPublicCharMapper">
	<!-- 查询所有 -->
	<select id="selectAllConfigPublicChars" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select pbc_id,attribute_kind,attribute_name  from config_public_char where 1=1
		<if test="attribute_name!=null">
			and attribute_name=#{attribute_name}
		</if>
		<if test="attribute_kind!=null">
			and attribute_kind=#{attribute_kind}
		</if>
		<if test="minPage!=null">
			and pbc_id LIMIT #{minPage},#{maxPage}
		</if>
	</select>
	<select id="selectConfigPublicChar" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind=#{attribute_kind}
	</select>
	<select id="findAlllConfigPublicChars" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select distinct attribute_kind from config_public_char
	</select>
	<!-- 查询职称 -->
	<select id="selectAllTechnicalTitles" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='职称'
	</select>
	<!-- 查询国籍 -->
	<select id="selectAllNationalitys" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='国籍'
	</select>
	<!-- 查询民族 -->
	<select id="selectAllNations" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='民族'
	</select>
	<!-- 查询宗教 -->
	<select id="selectAllReligiousBeliefs" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='宗教信仰'
	</select>
	
	<!-- 查询政治面貌 -->
	<select id="selectAllPoliticalStatus" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='政治面貌'
	</select>
	<!-- 查询学历 -->
	<select id="selectAllSchooling" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='学历'
	</select>
	<!-- 查询学历专业 -->
	<select id="selectAllEducations" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='专业'
	</select>
	<!-- 查询特长 -->
	<select id="selectAllStrongPoints" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='特长'
	</select>
	<!-- 查询爱好 -->
	<select id="selectAllHobbys" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='爱好'
	</select>
	<!-- 查询教育年限 -->
	<select id="selectAllEducationsYears" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind='教育年限'
	</select>
	<!-- 根据类型名字查寻 -->
	<select id="selectAllConfigPublicCharByName" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind=#{attribute_kind} and attribute_name=#{attribute_name}
	</select>
	
	<update id="updateConfigPublicChar" parameterType="ConfigPublicChar">
		update config_public_char set attribute_name=#{attribute_name} where pbc_id=#{pbc_id}
	</update>
	<delete id="deleteConfigPublicChar" parameterType="ConfigPublicChar">
		delete from config_public_char where pbc_id=#{pbc_id}
	</delete>
	<insert id="addConfigPublicChar" parameterType="ConfigPublicChar">
		insert into config_public_char(attribute_kind,attribute_name) values(#{attribute_kind},#{attribute_name})
	</insert>
</mapper>
 