<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.ConfigFileThirdKindMapper">
<!-- /* 创建新表 "config_file_first_kind"。                                                             */ -->
<!-- /* "config_file_first_kind" : 一级机构设置                                                          */ -->
<!-- /* 	"ffk_id" : 主键，自动增长列                                                                       */ -->
<!-- /* 	"first_kind_id" : 一级机构编号                                                                  */ -->
<!-- /* 	"first_kind_name" : 一级机构名称                                                                */ -->
<!-- /* 	"first_kind_salary_id" : 一级机构薪酬发放责任人编号                                                    */ -->
<!-- /* 	"first_kind_sale_id" : 一级机构销售责任人编号                                                        */  -->
	<select id="selectAllThirdKinds" resultType="ConfigFileFirstKind" >
		select first_kind_id,first_kind_name,first_kind_salary_id,first_kind_sale_id
		from config_file_first_kind 
	</select>
	
	

</mapper>