<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.ConfigPublicCharMapper">
	<select id="selectConfigPublicChar" resultType="ConfigPublicChar" parameterType="ConfigPublicChar">
		select * from config_public_char where attribute_kind=#{attribute_kind}
	</select>
	<!-- 查询职称 -->
	<!-- 查询国籍 -->
	<!-- 查询民族 -->
	<!-- 查询宗教 -->
	
	<!-- 查询政治面貌 -->
	<!-- 查询学历 -->
	<!-- 查询学历专业 -->
	<!-- 查询政治面貌 -->
	<!-- 查询政治面貌 -->
	
	<update id="updateConfigPublicChar" parameterType="ConfigPublicChar">
		update config_public_char set attribute_name=#{attribute_name} where pbc_id=#{pbc_id}
	</update>
	<delete id="deleteConfigPublicChar" parameterType="ConfigPublicChar">
		delete from config_public_char where pbc_id=#{pbc_id}
	</delete>
	<insert id="addConfigPublicChar" parameterType="ConfigPublicChar">
		insert into config_public_char(attribute_kind,attribute_name) values(#{attribute_kind},#{attribute_name})
	</insert>
</mapper>
 